<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.kirimin.mitsumine"
    android:versionCode="20402"
    android:versionName="2.4.2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".top.TopActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".feed.read.ReadActivity" />
        <activity android:name=".feed.readlater.ReadLaterActivity" />
        <activity android:name=".feed.keyword.KeywordSearchActivity" />
        <activity android:name=".feed.user.UserSearchActivity" />
        <activity android:name=".mybookmark.MyBookmarkSearchActivity" />
        <activity android:name=".setting.SettingActivity" />
        <activity android:name=".about.AboutActivity" />
        <activity android:name=".about.LicenseActivity" />
        <activity android:name=".entryinfo.EntryInfoActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity
            android:name=".urlreceive.UrlReceiveActivity"
            android:label="@string/urlreceive_title">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />

                <action android:name="android.intent.action.SEND" />
            </intent-filter>
        </activity>
    </application>

</manifest>