<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.kirimin.mitsumine"
    android:versionCode="20300"
    android:versionName="2.3.0">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="me.kirimin.mitsumine.ui.activity.TopActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="me.kirimin.mitsumine.ui.activity.ReadActivity" />
        <activity android:name="me.kirimin.mitsumine.ui.activity.ReadLaterActivity" />
        <activity android:name="me.kirimin.mitsumine.ui.activity.search.KeywordSearchActivity" />
        <activity android:name="me.kirimin.mitsumine.ui.activity.search.UserSearchActivity" />
        <activity android:name="me.kirimin.mitsumine.ui.activity.SettingActivity" />
        <activity android:name="me.kirimin.mitsumine.ui.activity.AboutActivity" />
        <activity android:name="me.kirimin.mitsumine.ui.activity.EntryInfoActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.search.MyBookmarksActivity" />
        <activity
            android:name="me.kirimin.mitsumine.ui.activity.UrlReceiveActivity"
            android:label="@string/urlreceive_title">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />

                <action android:name="android.intent.action.SEND" />
            </intent-filter>
        </activity>
    </application>

</manifest>